<!DOCTYPE html>
<html>
  <head>
    <title>CreateCert</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>YOU DON'T HAVE A CERTIFICATE, SO JUST CREATE ONE</h1>
      <form method="post" action="/create">
          Input here ur name<input type="text" name="name" id="name"/>
          Input here ur email<input type="text" name="email"/>
          <input type="submit"/>
      </form>
  </body>
</html>
