<!DOCTYPE html>
<html>
<head>
    <title>Denied</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%if(id=='no_cert_exception'){ %>
    <!--Redirect to /create in 10 sec -->
    <meta http-equiv="refresh" content="10;url=/create">
    <%}%>
</head>
<body>
    <%if (id){ %>
        <h1>Exception: <%=id%></h1>
        <p><%=message%></p>
    <%}%>

</body>
</html>