<!DOCTYPE html>
<html>
<head>
    <title>Denied</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%if(id=='token_error'){ %>
    <!--Redirect to /authenticate in 3 sec-->
        <meta http-equiv="refresh" content="3;url=/authenticate">
    <%}else if(id=='no_cert_exception'){ %>
    <!--Redirect to /create in 3 sec -->
        <meta http-equiv="refresh" content="3;url=/create">
    <%}%>
</head>
<body>
    <%if (id){ %>
        <h1>Exception: <%=id%></h1>
        <p><%=message%></p>
    <%}%>

</body>
</html>