<!DOCTYPE html>
<html>
  <head>
    <title>Main Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Hello, <%= subject%>. </h1>
      <p>Your cert has been issued by <%= issuer%></p>
      <p>Your cert will be valid to <%= valid_to%></p>
  </body>
</html>
